---
layout: kleine
title: Kleine seminar
---
 <h1>{{ page.title }}</h1>
	<p> 
	Welcome to the website of the Kleine seminar! This small seminar takes place at Universiteit Gent and was initiated in summer 2019 to create a space 
	for graduate students and postdoc researchers with shared research interests to study recent subject in depth. The method is quite simple:
	each semester, the members meet and decide of one subject they want to investigate, then they choose a base reference and divide the subject amongst
	themselves so that each of them will present a part. It aims to keep an informal ambiance and every kind of questions is welcomed, especially 
	<a href="https://terrytao.wordpress.com/career-advice/ask-yourself-dumb-questions-and-answer-them/">dumb ones</a>! 
	</p>
	

<h2>Present topic, Winter 2020 (February - May)</h2>
	<h3>Categorification, an exemplar view</h3>
<p>
The subject for this semester is on categorification. It is an active research subject that regroup many approaches loosely tied together by an idea:
that you can get more information by considering an higher algebraic structure for a mathematical object. The interest spreads from the physical community
in the early 1990. 
</p>
<p>
We hope to study the subject using examples as guiding line to navigate the subtleties. The main examples used will be (double affine) Hecke algebras, quantum groups
and Lie algebras. The prerequisites to the subject are: 
</p>
<u1>
	<li>Category theory basic vocabulary (Category, functors and natural transformation)</li>
	<li>Bases in theory of Lie and associative algebras </li>
	<li>What is an Hecke algebra (of type A)</li>
</u1>

<p>
	There is not a single reference for this hydraesque subject. The main references proposed are:	
</p>
<u1>
  <li>Lauda, A., 2011. An introduction to diagrammatic algebra and categorified quantum sl(2) 7 (review of ideas contained in other of his article) </li>
  <li>Mazorchuk, V., 2011. Lectures on algebraic categorification. arXiv:1011.0144 [math].</li>
  <li>Savage, A., 2018. String diagrams and categorification. arXiv:1806.06873 [math]. (Lecture notes from a mini course)</li>
  <li>Savage, A., 2014. Introduction to categorification. arXiv:1401.6037 [math] (Lecture notes from a winter school)</li>
</u1>
<p>
and interesting articles include
</p>
<u1>
	<li>Baez, J.C., Dolan, J., 1998. Categorification. arXiv:math/9802029.</li>
  	<li>Brundan, J., 2013. Quiver Hecke algebras and categorification. arXiv:1301.5868 [math].</li>
  	<li>Brundan, J., Savage, A., Webster, B., 2019. Heisenberg and Kac-Moody categorification. arXiv:1907.11988 [math].</li>
   <li>Chuang, J., Rouquier, R., 2008. Derived Equivalences for Symmetric Groups and ${sl}_{2}$ -Categorification. Annals of Mathematics 167, 245–298.</li>
   <li>Kleshchev, A., 2009. Representation Theory of Symmetric Groups and Related Hecke Algebras. arXiv:0909.4844 [math].</li>
	<li>Khovanov, M., Lauda, A., 2009. A diagrammatic approach to categorification of quantum groups I. Represent. Theory 13, 309–347. <a href="https://doi.org/10.1090/S1088-4165-09-00346-X">10.1090/S1088-4165-09-00346-X</a></li>
   <li>Lauda, A.D., 2010. A categorification of quantum $sl(2)$. Advances in Mathematics 225, 3327–3424. <a href="https://doi.org/10.1016/j.aim.2010.06.003">10.1016/j.aim.2010.06.003</a></li>
	<li>Rosso, D., Savage, A., 2017. A general approach to Heisenberg categorification via wreath product algebras. Math. Z. 286, 603–655. <a href="https://doi.org/10.1007/s00209-016-1776-9">https://doi.org/10.1007/s00209-016-1776-9</a></li>
   <li>Stroppel, C., 2005. Categorification of the Temperley-Lieb category, tangles, and cobordisms via projective functors. Duke Math. J. 126, 547–596. <a href="https://doi.org/10.1215/S0012-7094-04-12634-X">https://doi.org/10.1215/S0012-7094-04-12634-X</a></li>
</u1>


	
		<h4>Next meeting Wednesday March 4th 10h 3.2 S9. Grothendieck rings and weak categorification by Paulien Janssen.</h4>
	<p>
		
		The source is Savage, A. String diagrams and categorification <a href="https://arxiv.org/abs/1806.06873">arxiv:1806.06873</a>. section 5 and 
		Savage Introduction to categorification. <a href="https://arXiv.org/abs/1401.6037">arXiv:1401.6037</a> chapter 2.
	</p>
	
	
	<h4>Past meeting this semester</h4>
		<u1>
		<li>19-02-2020 Pivotal categories and string diagrams by Asmus Kj&#230;r Bisbo.</li>
		<li>12-02-2020 Wouter van der Vijver on monoidal categories and string diagrams.</li>
		</u1>

	
	
	<h4>Meetings minutes</h4>
	<p>
		You can find here <a href= "/kleine_seminar/notes/categorification_notes_W2020.pdf">the note of the meeting</a>. The material has probably a high chance of being error-filled here,
		but the margins content some hastily scribbled snippets of the discussion we had in the seminar and might prove interesting!
	</p>
	
	
	<h2> Contact </h2>
	
	<p>If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is a valid strategy!</p>
	<!-- 
	12-02-2020
	Monoidal categories are introduced with a view towards presenting some categories linked to common mathematical objects (symmetric group and Hecke algebras) 
		via generators and relations in a monoidal category. The source is Savage, A. String diagrams and categorification <a href="https://arxiv.org/abs/1806.06873">arxiv:1806.06873</a>.
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->
