---
layout: kleine
title: Kleine seminar
---
 <h1>{{ page.title }}</h1>
	<p> 
	Welcome to the website of the Kleine seminar! This small seminar takes place at Universiteit Gent and was initiated in summer 2019 to create a space 
	for graduate students and postdoc researchers with shared research interests to study recent subject in depth. The method is quite simple:
	each semester, the members meet and decide of one subject they want to investigate, then they choose a base reference and divide the subject amongst
	themselves so that each of them will present a part. It aims to keep an informal ambiance and every kind of questions is welcomed, especially 
	<a href="https://terrytao.wordpress.com/career-advice/ask-yourself-dumb-questions-and-answer-them/">dumb ones</a>! 
	</p>
	
	<h2>Current topic, Fall 2019</h2>
		<h3>Hecke algebras and double affine Hecke algebras</h3>
	<p>
		This semester topic is on Hecke algebras with a view toward double affine Hecke algebras (DAHA). The reference we are following is the book Iwahori-Hecke Algebra
		and Schur Algebras of the Symmetric Group by Andrew Mathas and Pavel Etingof's course notes on DAHA. Some more references are in the shared files, only available
		for UGent members.
	</p>
	
	<p>
		We hope to run the seminar weekly for each speaker with possible break in between. The current location is <strong>Leslokaal  3.1 S8 Sterre campus, UGent</strong>,
		the specific date and time is still under review.
	</p>
	
	<h4>Next meeting Tuesday November 5th 14h30-16h00 3.1 S8 on Chapter 3 section 1. The presenter is Sigiswald Barbier</h4>
	
	<p>	
		The first section of chapter 3 is dedicated to the combinatorics of Young tableaux with in mind the construction of the cell basis of the Hecke algebra linked to the
		permutation group. We will continue from Corollary 3.4 and address some concerns about gab to be filled.
	</p>
	<h4>Past meetings</h4>
		<u1>
			<li>Tuesday October 22th Alexis Langlois-Rémillard presented the last part of the second chapter of Mathas. Proof of lemmas 2.18, 2.9 and of theorem 2.20 were given. 
			Sigiswald Barbier then started the study of chapter 3 with the beginning of section 1. Reaching Corollary 3.4.</li>		
			<li>Tuesday October 8th, Alexis Langlois-Rémillard presented the second part of the second chapter of Mathas. We reached theorem 2.20, skipping lemmas 2.18 and 2.19 </li>
			<li>Friday October 4th, Alexis Langlois-Rémillard presented the first part of the second chapter of Mathas on Cellular algebra. We reached the statement of theorem 2.16 on a 
				complete list of non-equivalent simple modules in a cellular algebras (Theorem 2.16)</li>
			<li>Thursday September 19th, Asmus Bisbo presented the first chapter of Mathas on introduction to Hecke algebras and some preliminary results on the symmetric group</li>
		</u1>
	
<!-- 	Description of second part, to be kept until we decide what to do, or if we gather the strenght to dispose of it
		The subject covered in this session will aim to be the first section of Chapter 2, stopping at Theorem 2.16. Alexis suggested that interested
		members should consult Appendix A of the book for a refreshment (or initiation) in representation theory of algebras. Also, it would be wise
		to read beforehand the definition of cellular algebras and work out example (i) of 2.2.
		
		Part 2 will start from the proof of Theorem 2.16 (giving a complete set of unequivalent simple modules) and hope to reach and prove theorem 2.20 giving
		the relation between the decomposition matrix of the algebra and its Cartan matrix (respectively the matrix with entries the composition multiplicities
		of the simple module in cell module and composition multiplicities of simple modules in principal modules). A refreshment on projective modules would 
		be wise, but might be skipped.
		
		Part 3 will finish the second chapter by proving the theorem 2.20 and the needed lemmas. To <em>prepare</em>, one would refresh oneself with the flateness property of projective
		and refresh the vocabulary we introduced last session. -->
	<h4>Meetings minutes</h4>
	<p>
		You can find here <a href= "/kleine_seminar/notes/hecke_notes_F2019.pdf">the note of the meeting</a>. The material has probably a higher chance of being error-filled here,
		but the margins content some hastily scribbled snippets of the discussion we had in the seminar and might prove interesting!
	</p>
	
	
	<h2> Contact </h2>
	
	<p>If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is a valid strategy!</p>
	<!-- 
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->