---
layout: kleine
title: Kleine seminar
---
 <h1>{{ page.title }}</h1>
	<p> 
	Welcome to the website of the Kleine seminar! This small seminar takes place at Universiteit Gent and was initiated in summer 2019 to create a space 
	for graduate students and postdoc researchers with shared research interests to study recent subject in depth. The method is quite simple:
	each semester, the members meet and decide of one subject they want to investigate, then they choose a base reference and divide the subject amongst
	themselves so that each of them will present a part. It aims to keep an informal ambiance and every kind of questions is welcomed, especially 
	<a href="https://terrytao.wordpress.com/career-advice/ask-yourself-dumb-questions-and-answer-them/">dumb ones</a>! 
	</p>
	
	<h2>Current topic, Fall 2019</h2>
		<h3>Hecke algebras and double affine Hecke algebras</h3>
	<p>
		This semester topic is on Hecke algebras with a view toward double affine Hecke algebras (DAHA). The reference we are following is the book Iwahori-Hecke Algebra
		and Schur Algebras of the Symmetric Group by Andrew Mathas and Pavel Etingof's course notes on DAHA. Some more references are in the shared files, only available
		for UGent members.
	</p>
	
	<p>
		We hope to run the seminar weekly for each speaker with possible break in between. The current location is <strong>Leslokaal 1.1 S9 Sterre campus, UGent</strong>,
		the specific date and time is still under review.
	</p>
	
	<h4>Next meeting Friday October 4th 14h00 on Chapter 2: Cellular algebras. The presenter is Alexis Langlois-Rémillard </h4>
	
	<p>
		The subject covered in this session will aim to be the first section of Chapter 2, stopping at Theorem 2.16. Alexis suggested that interested
		members should consult Appendix A of the book for a refreshment (or initiation) in representation theory of algebras. Also, it would be wise
		to read beforehand the definition of cellular algebras and work out example (i) of 2.2.
	</p>
	<h4>Past meeting</h4>
		<u1>
			<li>Thursday September 19th, Asmus Bisbo presented the first chapter of Mathas on introduction to Hecke algebras and some preliminary results on the symmetric group</li>
		</u1>
	
	<h4>Meetings minutes</h4>
	<p>
		Coming soon: <a href= "/kleine_seminar/notes/hecke_notes_F2019.pdf">the note of the meeting</a>.
	</p>
	
	
	<h2> Contact </h2>
	If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is a valid strategy!
	<!-- 
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->