---
layout: default
title: Research notes
---

	<h1>{{ page.title }}</h1>
	
	<p> These notes will contain some explanation on what I am currently doing or was doing not long ago. The goal of this page
			is selfish: I want to improve my comprehension and doing so in this format forces me to have better written notes for reference
			all the while providing a quick link if I want to introduce somebody to the basic ideas of my interests. It should be viewed as
			a story I am telling to a captive audience with a blackboard, nothing pretentious or ground breaking, it is part of my ideas on 
			popularizing research to ones colleagues. If you find something interesting and want to share ideas, feel free to contact me.</p>
  	<ul class="posts">	
	  {% for post in site.posts %}
	  	{% if post.category == 'notes' %}
	    	<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endif %}	  
	  {% endfor %}
	</ul>
