---
layout: kleine
title: Kleine seminar members
---
 <h1>{{ page.title }}</h1>
	<h2>Current members for 2019</h2>
	<u1> 
		<li>Sigiswald Barbier, Postdoc UGent</li>
		<li>Asmus Bisbo, PhD candidate UGent</li>
		<li>Sam Claerebout, PhD candidate UGent</li>
		<li>Hadewijch De Clercq, PhD candidate UGent</li> 
		<li>Alexis Langlois-Rémillard, PhD candidate UGent</li>
		<li>Roy Oste, Postdoc UGent</li>
		<li>Wouter van de Vijver, PhD candidate UGent</li>
	</u1>
	
	
	
	
	<h3>
	Original members
	</h3>
	<p> 
		The Kleine seminar was created in the summer of 2019 by a like-minded group of PhD candidates and postdoc researchers with interest
		in representation theory. You can find their name below.
	<u1>
		<li>Sigiswald Barbier</li>
		<li>Asmus Bisbo</li>
		<li>Sam Claerebout</li>
		<li>Hadewijch De Clercq</li> 
		<li>Alexis Langlois-Rémillard</li>
		<li>Roy Oste</li>
		<li>Wouter van de Vijver</li>
	</u1>
	
	
	<h3> Contact </h3>
	If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is also a valid strategy!
	<!-- 
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->