---
layout: default
title: Personal blog
---
 <h1>{{ page.title }}</h1>
	<p> These blog posts consist in small toughts I had on literature, chess, typography, language, teaching and other subjects; 
		basically, the set of everything that is not research that I want to write about! Most of the content will be in French and hopefully Dutch will
		appears at some point! If you are there for academic purpose, you might better like my <a href="/research_notes/">Research notes</a>.</p>
	<p> This can be viewed as a "medium-talk" provider if you ever meet me! Feel free to contact me if something I wrote interest you.</p>
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
