---
layout: kleine
title: Kleine seminar members
---
 <h1>{{ page.title }}</h1>
	<h3>Current notes for Winter 2020</h3>
	The note on categorification are to be found here: <a href="/kleine_seminar/notes/categorification_notes_W2020.pdf">notes on categorification</a>.
	
	
	<h3>Past notes</h3>
	The texing of the notes for Fall 2019 are unfinished and will probably not be completed unless there is a high pressure to do so. The relevant material on Hecke algebra can be found in Mathas's book
	on Iwahori-Hecke algebras (first four chapters) and the material on DAHA can be found in Pavel Etingof's lecture note and source therein. 	
	
	<h3> Contact </h3>
	If you have inquiries about the Kleine seminar, the easiest would be to contact me with the information below, but contacting 
	any other member is also a valid strategy!
	<!-- 
	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.category == 'blog' %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	   {% endif %} 
	  {% endfor %}
	</ul>
 -->